body {
    background-color: rgba(255, 238, 0, 0.472);
    background-image: url("");
    background-position: center;
    background-size: 400px, 400px;
    background-repeat: no-repeat;
    width: 1100px;
    height: 400px;
    margin: 5px auto;
    font-style: italic;
}

.Yours {
    border: 1px solid black;
    display: c;
    text-align: left;
    background: gold;
    border-radius: 15px;
    padding: 5px;
}

.other {
    border: 1px solid black;
    display: right;
    text-align: left;
    background: gold;
    border-radius: 15px; 
    padding: 5px;
}