body {
    background-color: rgba(255, 238, 0, 0.472);
    background-image: url("http://kidsontrack.org/donate/wish-list/");
    background-position: left;
    background-size: 400px, 400px;
    background-repeat: no-repeat;
    width: 1100px;
    height: 400px;
    margin: 5px auto;
    font-style: italic;
}

#Yours {
    border: 1px solid black;
    position: absolute; 
    top: 300px;
    left: 400px;
    width: 500px;
    height: 200px;
    overflow: auto;
    
    text-align: left;
    background: gold;
    border-radius: 15px;
    padding: 5px;
    
}

#other {
    border: 1px solid black;
    
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    height: 100px;
    text-align: left;
    overflow: auto;
    background: gold;
    border-radius: 15px; 
    padding: 5px;
    height: 200px;
    width : 500px;
}