body {
    background-color: rgba(255, 238, 0, 0.472);
     background-image: url("https://img.clipartxtras.com/c2c015d679647a74c468c30135a81745_wish-clipart-free-download-clip-art-free-clip-art-on-clipart-wish-clipart_600-388.png");
      
     background-position:  center;
     background-size: 400px, 400px; 
    background-repeat: no-repeat;
    width: 1100px;
    height:400px;
    margin: 5px auto; 
    font-style: italic;
}

.log{
border: 1px solid black;
display: right;
text-align: center;
background:gold;
border-radius: 100px;
padding:5px;
}

.reg {
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    background:gold;
    /* border-radius: 15px; */
    padding:5px;
    }
 h1{

 }
