body {
    background-color: rgba(255, 238, 0, 0.472);
    background-image: url("");
    background-position: center;
    height: 500px;
    width: 800px;
    background-repeat: no-repeat;
    width: 1200px;
    margin: 5px auto;
}